@font-face {
  font-family: "Robotto";
  src: url("./fonts/Roboto-Regular.ttf");
}

body {
  margin: 0;
  padding: 10px;

  background: var(--secondary);
  height: 1000px;
  font-family: "Robotto";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  background-color: #15202b;
  color: white;
  font-family: "Robotto";
}
header nav {
  display: flex;
  gap: 15px;
  justify-content: space-around;
  max-width: 1920px;
  margin-bottom: 40px;
  margin-top: 20px;
  border: 2px;
  border-radius: 5px;
  border-style: solid;
}

.dropbtn {
  height: 100%;
  font-size: 1em;
  width: 100%;
  border: none;
  cursor: pointer;
  min-width: 90px;
}

.dropbtn.nav-drop {
  color: #ffffff;
}

.dropbtn.reviews-drop {
  background-color: #000000;
  color: #000000;
  height: 100%;
  border: 0px solid black;
  padding: 0;
  margin: 0;
}

.dropdown:hover .dropbtn.reviews-drop {
  background-color: rgb(0, 0, 0);
  color: #000000;
}

.order-btn {
  width: 30%;
  height: 40px;
  background-color: #000000;
  color: #000000;
  cursor: pointer;
  border: none;
  border-left: 1px solid #000000;
  font-size: 2em;
}

.order-btn:hover {
  background-color: #000000;
  color: #ffffff;
}

.dropdown {
  height: 100%;
  position: relative;
  display: inline-block;
}

.drop-container {
  height: 40px;
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  border: 2px solid #000000;
  border-radius: 3px;
}

.dropdown.reviews-drop {
  width: 70%;
  display: inline-block;
}
.dropdown:hover .dropbtn.nav-drop {
  background-color: #000000;
}

.dropdown-content {
  display: block;
  position: absolute;
  top: 100%;
  background-color: #000000;
  z-index: 1;
  min-width: 90px;
  width: 100%;
}

.dropdown-item {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  margin: 4px 0;
}

.dropdown-content :hover {
  background-color: #00c3ff;
}
.Header {
  display: flex;
  flex-direction: row;
  gap: 15px;
  font-size: 20px;
  justify-content: space-between;
  border: 2px;
  border-radius: 5px;
  border-style: solid;
  border-color: white;
}

.twitterlogo {
  height: 125px;
  width: 125px;
}

.item-img {
  height: 100px;
  width: 100px;
  border: 2px;
  border-style: solid;
  border-radius: 5px;
  border-color: white;
  margin-left: 10px;
}

.item-name {
  margin-left: 10px;
}

.read-more {
  margin-left: 10px;
}
.item-card {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: -40px;
  gap: 10px;
  border: 2px;
  border-radius: 5px;
  border-style: solid;
}

.itemListWrapper {
  list-style: none;
}

.singlereview {
  border-radius: 3px;
  border-style: solid;
}

.avatar {
  border: 5px solid #ffffff;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  width: 80px;
  height: 80px;
  margin-right: 15px;
  margin-top: 15px;
}

.users {
  list-style: none;
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.users > button {
  cursor: pointer;
  width: 10%;
  min-width: 150px;
  border-radius: 2px;
  padding: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: #00aeff;
}

.users > button > img {
  border: 5px solid rgb(0, 0, 0);
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  width: 90%;
}

@media (max-width: 430px) {
  .Header {
    display: flex;
    flex-direction: row;
    font-size: 6px;
    justify-content: space-between;
    border: 2px;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
  }

  .twitterlogo {
    height: 50px;
    width: 50px;
  }

  .avatar {
    border: 5px solid #00aeff;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 550px) {
  .Header {
    display: flex;
    flex-direction: row;
    font-size: 10px;
    justify-content: space-between;
    border: 2px;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
  }

  .twitterlogo {
    height: 50px;
    width: 50px;
  }
  header nav {
    display: flex;
    gap: 16px;
    justify-content: space-around;
    max-width: 500px;
    margin-bottom: 40px;
  }
  .avatar {
    border: 5px solid #00aeff;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 650px) {
  .Header {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    justify-content: space-between;
    border: 2px;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
  }

  .twitterlogo {
    height: 75px;
    width: 75px;
  }
  header nav {
    display: flex;
    gap: 16px;
    justify-content: space-around;
    max-width: 500px;
    margin-bottom: 40px;
  }
  .avatar {
    border: 5px solid #00aeff;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 1250px) {
  header nav {
    display: flex;
    gap: 16px;
    justify-content: space-around;
    max-width: 1200px;
    margin-bottom: 40px;
  }
}
@media (max-width: 1920px) {
  header nav {
    display: flex;
    gap: 16px;
    justify-content: space-around;
    max-width: 2560px;
    margin-bottom: 40px;
  }
}
@media (max-width: 2560px) {
  header nav {
    display: flex;
    gap: 16px;
    justify-content: space-around;
    max-width: 2560px;
    margin-bottom: 40px;
  }
}
